
.editUsersWI .editUser_login_label  {
    position: absolute;
    top: 20px;
    left: 10px;
}

.editUsersWI .editUser_login  {
    position: absolute;
    top: 20px;
    left: 75px;
}

.editUsersWI .editUser_password_label  {
    position: absolute;
    top: 50px;
    left: 10px;
}

.editUsersWI .editUser_password  {
    position: absolute;
    top: 50px;
    left: 75px;
}

.editUsersWI .editUser_edit_button  {
    position: absolute;
    top: 80px;
    left: 10px;
}

.editUsersWI .backBU  {
    position: absolute;
    top: 110px;
    left: 10px;
}

