
.SearchCustomers_W .Customers_T_page  {
    position : absolute;
    left: 10px;
    top: 30px;
}

.SearchCustomers_W .Customers_T  {
    position : absolute;
    left: 10px;
    top: 50px;
    width: 250px;
    height: 100px;
}


.SearchCustomers_W .Customers_T .name  {
}

.SearchCustomers_W .Customers_T .surname  {
}

.SearchCustomers_W .Customers_T .birthday  {
}

.SearchCustomers_W .Customers_T .email  {
}

.SearchCustomers_W .Customers_T .phone  {
}

.SearchCustomers_W .Customers_T .loyalty  {
}

.SearchCustomers_W .Customers_T_prev_B  {
    position : absolute;
    left: 10px;
    top: 150px;
}

.SearchCustomers_W .Customers_T_next_B  {
    position : absolute;
    left: 90px;
    top: 150px;
}

.SearchCustomers_W .Edit_B  {
    position : absolute;
    left: 10px;
    top: 200px;
}

.SearchCustomers_W .Delete_B  {
    position : absolute;
    left: 10px;
    top: 230px;
}

.SearchCustomers_W .Back_B  {
    position : absolute;
    left: 10px;
    top: 260px;
}

