
.Main .clickMeBut {
    bottom: 10%;
    height: 40px;
    left: 25%;
    position: absolute;
    width: 50%;
}
.Main .welcomeLa {
    color: navy;
    font-size: large;
    left: 0;
    position: absolute;
    top: 50%;
}
.Main .writeNameTf {
    top: 40%;
    position: absolute;
    width: 80%;
    left: 19%;
    z-index: 1;
}
.Main .writeNameLa {
    width: 20px;
    height: 20px;
    top: 40%;
    position: absolute;
    z-index: 0;
}
