
.SearchCustomers_W .Customers_T_page  {
}

.SearchCustomers_W .Customers_T  {
}


.SearchCustomers_W .Customers_T .name  {
}

.SearchCustomers_W .Customers_T .surname  {
}

.SearchCustomers_W .Customers_T .birthday  {
}

.SearchCustomers_W .Customers_T .email__________  {
}

.SearchCustomers_W .Customers_T .phone  {
}

.SearchCustomers_W .Customers_T .loyalty  {
}

.SearchCustomers_W .Customers_T_prev_B  {
}

.SearchCustomers_W .Customers_T_next_B  {
}

.SearchCustomers_W .Edit_B  {
}

.SearchCustomers_W .Delete_B  {
}

.SearchCustomers_W .Back_B  {
}

