
.Login_W .Credentiasl_F_login_L  {
    position : absolute;
    left: 10px;
    top: 30px;
}

.Login_W .Credentiasl_F_login  {
    position : absolute;
    left: 80px;
    top: 30px;
}

.Login_W .Credentiasl_F_password_L  {
    position : absolute;
    left: 10px;
    top: 60px;
}

.Login_W .Credentiasl_F_password  {
    position : absolute;
    left: 80px;
    top: 60px;
}

.Login_W .Login_B  {
    position : absolute;
    left: 80px;
    top: 90px;
}

