
.ChangePassword_W .oldPassword_L  {
    position : absolute;
    left: 10px;
    top: 30px;
}

.ChangePassword_W .oldPassword  {
    position : absolute;
    left: 140px;
    top: 30px;
}

.ChangePassword_W .newPassword_L  {
    position : absolute;
    left: 10px;
    top: 60px;
}

.ChangePassword_W .newPassword  {
    position : absolute;
    left: 140px;
    top: 60px;
}

.ChangePassword_W .newPassword2_L  {
    position : absolute;
    left: 10px;
    top: 90px;
}

.ChangePassword_W .newPassword2  {
    position : absolute;
    left: 140px;
    top: 90px;
}

.ChangePassword_W .change_B  {
    position : absolute;
    left: 140px;
    top: 120px;
}

.ChangePassword_W .back_B  {
    position : absolute;
    left: 140px;
    top: 150px;
}

