@import "../reindeer/styles.css";

@import "EditUserWI.css";
@import "ChangePasswordWI.css";
@import "LoginWI.css";
@import "ListDinersWI.css";
@import "SelectMealsWI.css";
@import "CreateUserWI.css";
@import "ConfigurationWI.css";
@import "CountMealsWI.css";
@import "UserAccountsWI.css";
@import "MenuDirectorWI.css";
@import "MenuResidentWI.css";

/* The following rule is to avoid resizeable text fields */
.v-textarea {
    resize: none
}
