
.createUserWI .userForm_login_label  {
     position : absolute;
    left: 30px;
    top: 30px;
}

.createUserWI .userForm_login  {
     position : absolute;
    left: 100px;
    top: 30px;
}

.createUserWI .userForm_password_label  {
     position : absolute;
    left: 30px;
    top: 60px;
}

.createUserWI .userForm_password  {
    position : absolute;
    left: 100px;
    top: 60px;
}

.createUserWI .userForm_create_button  {
    position : absolute;
    left: 100px;
    top: 90px;
}

.createUserWI .backBU  {
    position : absolute;
    left: 30px;
    top: 90px;
}

