
.editUserWI .editEmployee_login_label  {
      position : absolute;
    left: 30px;
    top: 30px;
}

.editUserWI .editEmployee_login  {
       position : absolute;
    left: 100px;
    top: 30px;
}

.editUserWI .editEmployee_password_label  {
     position : absolute;
    left: 30px;
    top: 60px;
}

.editUserWI .editEmployee_password  {
      position : absolute;
    left: 100px;
    top: 60px;
}

.editUserWI .editEmployee_edit_button  {
    position : absolute;
    left: 100px;
    top: 90px;
}

.editUserWI .backBU  {
     position : absolute;
    left: 30px;
    top: 90px;
}

