
.EditCustomer_atom_W .EditCustomer_F_name_L  {
    position : absolute;
    left: 10px;
    top: 30px;
}

.EditCustomer_atom_W .EditCustomer_F_name  {
    position : absolute;
    left: 80px;
    top: 30px;
}

.EditCustomer_atom_W .Edit_Name_B  {
    position : absolute;
    left: 250px;
    top: 30px;
    
}

.EditCustomer_atom_W .EditCustomer_F_surname_L  {
    position : absolute;
    left: 10px;
    top: 60px;
}

.EditCustomer_atom_W .EditCustomer_F_surname  {
     position : absolute;
    left: 80px;
    top: 60px;
}

.EditCustomer_atom_W .Edit_Surname_B  {
     position : absolute;
    left: 250px;
    top: 60px;
}

.EditCustomer_atom_W .EditCustomer_F_birthday_L  {
     position : absolute;
    left: 10px;
    top: 90px;
}

.EditCustomer_atom_W .EditCustomer_F_birthday  {
     position : absolute;
    left: 80px;
    top: 90px;
}

.EditCustomer_atom_W .Edit_Birthday_B  {
     position : absolute;
    left: 250px;
    top: 90px;
}

.EditCustomer_atom_W .EditCustomer_F_email_L  {
    position : absolute;
    left: 10px;
    top: 120px;
}

.EditCustomer_atom_W .EditCustomer_F_email  {
     position : absolute;
    left: 80px;
    top: 120px;
}

.EditCustomer_atom_W .Edit_Email_B  {
     position : absolute;
    left: 250px;
    top: 120px;
}

.EditCustomer_atom_W .EditCustomer_F_phone_L  {
     position : absolute;
    left: 10px;
    top: 150px;
}

.EditCustomer_atom_W .EditCustomer_F_phone  {
    position : absolute;
    left: 80px;
    top: 150px;
}

.EditCustomer_atom_W .Edit_Phone_B  {
    position : absolute;
    left: 250px;
    top: 150px;
}

.EditCustomer_atom_W .EditCustomer_F_loyalty_L  {
     position : absolute;
    left: 10px;
    top: 180px;
}

.EditCustomer_atom_W .EditCustomer_F_loyalty  {
      position : absolute;
    left: 80px;
    top: 180px;
}


.EditCustomer_atom_W .Edit_Loyalty_B  {
    position : absolute;
    left: 250px;
    top: 180px;
}
.EditCustomer_atom_W .EditCustomer_F_contacts_L  {
      position : absolute;
    left: 10px;
    top: 210px;
}

.EditCustomer_atom_W .EditCustomer_F_contacts  {
    position : absolute;
    left: 80px;
    top: 230px;
    width: 135px;
    height: 100px;
}


.EditCustomer_atom_W .EditCustomer_F_contacts .login  {
    
}

.EditCustomer_atom_W .Edit_contacts_B  {
     position : absolute;
    left: 250px;
    top: 230px;
}

.EditCustomer_atom_W .Back_B  {
    position : absolute;
    left: 10px;
    top: 360px;
}


