
.loginWI .loginLA  {
    position : absolute;
    left: 10px;
    top: 30px;
}

.loginWI .loginTF  {
    position : absolute;
    left: 80px;
    top: 30px;
}

.loginWI .passLA  {
    position : absolute;
    left: 10px;
    top: 60px;
}

.loginWI .passTF  {
    position : absolute;
    left: 80px;
    top: 60px;
}

.loginWI .loginBU  {
    position : absolute;
    left: 80px;
    top: 90px;
    
}

.loginWI .backBU  {
    position : absolute;
    left: 10px;
    top: 90px;
}


