
.salesPersonMenuWI .searchCustomersBU  {
    position : absolute;
    left: 30px;
    top: 30px;
}

.salesPersonMenuWI .changePasswordBU  {
    position : absolute;
    left: 30px;
    top: 60px;
}

.salesPersonMenuWI .exitBU  {
    position : absolute;
    left: 30px;
    top: 90px;
}

