

.searchUsersWI .employeesTable  {
    position : absolute;
    left: 30px;
    top: 30px;
    width: 200px;
    height: 100px;
}



.searchUsersWI .employeesTable .login  {
}

.searchUsersWI .employeesTable .password  {
}


 .searchUsersWI .employeesTable_page  {
    position : absolute;
    left: 180px;
    top: 160px;
}
.searchUsersWI .employeesTable_prevBu  {
    position : absolute;
    left: 30px;
    top: 160px;
}

.searchUsersWI .employeesTable_nextBu  {
    position : absolute;
    left: 120px;
    top: 160px;
}

.searchUsersWI .backBU  {
    position : absolute;
    left: 30px;
    top: 210px;
}


.searchUsersWI .editUserBU  {
    position : absolute;
    left: 90px;
    top: 210px;
}


.searchUsersWI .deleteBU {
    position : absolute;
    left: 150px;
    top: 210px;
}