
.logoIMG {
    background-image: url("mmlogo.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 75% auto;
}
.v-textfield {
    background-color: white;
    border-color: #000000;
    border-width: thin;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.v-captiontext {
    font-family: Arial, sans-serif;
    font-size: 12px; 
}
.v-table {
    font-family: Arial, sans-serif;
}
.v-table-cell-content {
    font-family: Arial, sans-serif;
    font-size: 12px;

}
.v-table-header-cell {
    border-color: #000000 !important;
    border-width: thick;
}
.v-table-caption-container {
    border-color: #000000;
    border-width: thin;
    font-family: Arial, sans-serif;
}
.v-nativebutton {
    background-color: #E76500;
    border-color: #000000;
    border-width: thin !important;
    color: #FFFFFF !important;
    font-family: Arial, sans-serif;
    font-size: 16px !important;
    font-weight: bolder !important;
    outline: 0;
    line-height: 30px;
    text-align: center;
    padding: 0 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.v-select-select {
    background-color: white !important;
    border-color: #000000;
    border-width: thin;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-style : solid ;
    font-size: 12px !important; 
}
.v-table-body {
    /* background: none repeat scroll 0 0 #F5CCCC; */
    border-color: #000000;
    border-width: thin;
}

.v-table-header {
    background: #666565;
    color: white;
    font-size: 14px;
    font-weight: bold !important;
    font-family: Arial, sans-serif;
}
.v-table-resizer {
   /* background: #000000; */
}
.v-table-header-wrap {
    border-color: #000000;
    border-width: thin;
}
.v-table-row-spacer {
   /* border-color: #000000; */
}
.v-table-header-cell {
   /* border-color: black; */
}
.v-table-table {
   /* background: black !important; */
}

.v-datefield-calendarpanel {
    background: #E76500;
    color: white;
    font-weight: bold;
}

.v-datefield-calendarpanel-header {
    color: #666565;
}

.v-checkbox {
    background: #E76500;  
    line-height: 30px
}

.v-panel-LoginWI {
    background: #fff;
}
.v-panel-MenuDirectorWI {
    background: #fff   ;
}
.v-panel-SelectMealsWI {
    background: #fff   ;
}

.v-panel-CountMealsAdminWI {
    background: #fff   ;
}

    
 
